.back-container {
	width: auto;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	padding: 14px 25px 14px 20px;
	border-radius: 50px;
	.back-icon {
		width: 32px;
		height: 32px;
	}
}
